body{
    background-color:#81DC72;
}
#div1{
    margin: auto;
    border: 1px solid yellow;
    background-color: yellow;
    padding-top: 100px;
    width: 500px;
    box-shadow: -18px 10px rgb(255, 255, 89);
}
#div2{
    margin: auto;
    border: 1px solid blue;
    background-color: blue;
    padding-top: 50px;  
    width: 500px;
    box-shadow: -18px 10px rgb(95, 95, 255);
}

#div3{
    margin: auto;
    border: 1px solid red;
    background-color: red;
    padding-top: 50px;
    width: 500px;
    box-shadow: -18px 10px rgb(199, 84, 84);
}
